dist: xenial
language: python
sudo: required
cache:
  directories:
    - ~/.cache/pip

env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
    - TESTDATA_DIR=$HOME/testdata

addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntugis/ppa'
    packages:
      - libgdal-dev
      - libudunits2-dev
      - python-gdal
      - python3-gdal
      - libspatialite-dev
      - libsqlite3-mod-spatialite
      - swig2.0
      - libproj-dev
      - gdal-bin

# currently 3.5 is the only version that works together with system site apt_packages:
# this might change in the future; an alternative could be to install  the GDAL python bindings
# directly in the venv; see e.g. here: https://gist.github.com/cspanring/5680334
python:
  - '3.5'

virtualenv:
  system_site_packages: true

before_install:
  - wget -O esa-snap_sentinel_unix_6_0.sh https://step.esa.int/downloads/6.0/installers/esa-snap_sentinel_unix_6_0.sh
  - bash esa-snap_sentinel_unix_6_0.sh -q
  - export PATH=$PATH:/opt/snap/bin

install:
  - pip install -r requirements-dev.txt
  - pip install coveralls coverage
  - python setup.py install

#before_script:
#  - travis_wait 40 . ./pyroSAR/install/download_testdata.sh

script:
  - coverage run --source pyroSAR/ -m pytest

after_success:
  - coveralls

notifications:
  slack: pyrosar:bs03zodEkRSYr8MN5HrgfSeB
