# thanks a lot to the Nansat project (https://github.com/nansencenter/nansat) from which this file was adapted
environment:
  matrix:
    - TARGET_ARCH: x64
      CONDA_PY: 36
      CONDA_INSTALL_LOCN: C:\Miniconda3-x64
      GDAL_DATA: C:\Miniconda3-x64\Library\share\gdal
      PROJECT_DIR: C:\projects\pyrosar
      SNAP_INSTALL: C:\projects\snap
      PGUSER: postgres
      PGPASSWORD: Password12!
      SNAP_VERSION: 8
      SNAP_INSTALLER: esa-snap_sentinel_windows-x64_%SNAP_VERSION%_0.exe

platform:
  - x64

services:
  - postgresql96

install:
  # Cygwin's git breaks conda-build. (See https://github.com/conda-forge/conda-smithy-feedstock/pull/2.)
  - rmdir C:\cygwin /s /q

  # install PostGIS
  - appveyor DownloadFile  https://download.osgeo.org/postgis/windows/pg96/archive/postgis-bundle-pg96-3.2.0x64.zip
  - 7z x .\postgis-bundle-pg96-3.2.0x64.zip
  - xcopy /e /y /q .\postgis-bundle-pg96-3.2.0x64 C:\Progra~1\PostgreSQL\9.6

  # activate conda
  - call %CONDA_INSTALL_LOCN%\Scripts\activate.bat

  # If there is a newer build queued for the same PR, cancel this one.
  - appveyor DownloadFile https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py
  - python ff_ci_pr_build.py -v --ci "appveyor" "%APPVEYOR_ACCOUNT_NAME%/%APPVEYOR_PROJECT_SLUG%" "%APPVEYOR_BUILD_NUMBER%" "%APPVEYOR_PULL_REQUEST_NUMBER%"
  - del ff_ci_pr_build.py

  # update conda
  - conda update --yes --quiet conda

  - set PYTHONUNBUFFERED=1


  # Add our channels.
  - conda config --set show_channel_urls true
  - conda config --remove channels defaults
  - conda config --add channels defaults
  - conda config --add channels conda-forge

  # install ESA SNAP
  - appveyor DownloadFile https://step.esa.int/downloads/%SNAP_VERSION%.0/installers/%SNAP_INSTALLER%
  - start %SNAP_INSTALLER% -q -dir %SNAP_INSTALL%

  - set PATH=%PATH%;%SNAP_INSTALL%\bin

  - echo %PATH%

  # Configure the VM.
  - conda env create --file environment-dev.yml
  - conda activate ps_test_dev
  - python setup.py install

# Skip .NET project specific build phase.
build: false

test_script:
  - coverage run -m pytest
