name: ps_test
channels:
  - conda-forge
  - defaults
dependencies:
  - progressbar2
  - numpy
  - spatialist>=0.12.0
  - pyyaml
  - requests
  - psycopg2
  - sqlalchemy>=1.4
  - sqlalchemy-utils>=0.37
  - geoalchemy2
  - gdal>=2.4
  - pillow
  - lxml
