name: conda build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

permissions:
  contents: read

env:
  SNAP_VERSION: "13.0"

jobs:
  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: micromamba-shell {0}
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_PASSWORD: Password12!
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: Set up python environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment-dev.yml
          cache-environment: true
          init-shell: bash
          generate-run-shell: true
          post-cleanup: 'all'
      - name: Install ESA SNAP
        run: |
          wget -nv https://download.esa.int/step/snap/$SNAP_VERSION/installers/esa-snap_all_linux-$SNAP_VERSION.0.sh
          bash esa-snap_all_linux-$SNAP_VERSION.0.sh -q -dir $GITHUB_ACTION_PATH/esa-snap
      - name: Set paths and variables
        run: |
          echo "$CONDA/bin" >> $GITHUB_PATH
          echo "$GITHUB_ACTION_PATH/esa-snap/bin" >> $GITHUB_PATH
          echo "PROJ_DATA=$CONDA/share/proj" >> $GITHUB_ENV
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Install pyroSAR
        run: |
          pip install .
      - name: Test with pytest
        run: |
          coverage run -m pytest
          coverage xml
        env:
          PGUSER: postgres
          PGPASSWORD: Password12!
      - name: Publish to coveralls.io
        if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}
        uses: coverallsapp/github-action@v2.3.0
        with:
          github-token: ${{ github.token }}
          format: cobertura

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C CALL {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: ps_test_dev
          auto-update-conda: true
          python-version: '3.12'
          environment-file: environment-dev.yml
          auto-activate-base: false
      - uses: nyurik/action-setup-postgis@v2.2
        with:
          cached-dir: C:\downloads
          postgres-version: '17'
      - name: Remove Postgres DLLs from PATH
        # Postgres DLLs conflict with the ones from conda
        shell: bash
        run: |
          echo "PATH before cleanup:"
          echo $PATH

          # Remove Postgres lib dir from PATH (keeps server running!)
          CLEAN_PATH=$(echo "$PATH" | tr ':' '\n' | grep -v 'PostgreSQL/17/lib' | paste -sd:)
          echo "PATH after cleanup:"
          echo $CLEAN_PATH
          echo "PATH=$CLEAN_PATH" >> $GITHUB_ENV
      - name: Install ESA SNAP
        run: |
          curl -O https://download.esa.int/step/snap/%SNAP_VERSION%/installers/esa-snap_all_windows-%SNAP_VERSION%.0.exe
          start /wait esa-snap_all_windows-%SNAP_VERSION%.0.exe -q -dir C:\esa-snap
      - name: Set paths and variables
        run: |
          echo %CONDA%\Scripts>> %GITHUB_PATH%
          echo C:\esa-snap\bin>> %GITHUB_PATH%
          echo PROJ_DATA=%CONDA%\share\proj>> %GITHUB_ENV%
      - name: Install pyroSAR
        run: |
          pip install .
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      - name: Test with pytest
        run: |
          pytest
        env:
          PGUSER: postgres
          PGPASSWORD: postgres
